# *import

In [2]:
#!pip install pandas-datareader

Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     |████████████████████████████████| 109 kB 1.3 MB/s
Requirement already satisfied: pandas>=0.23 in /home/pit/anaconda3/lib/python3.8/site-packages (from pandas-datareader) (1.1.3)
Requirement already satisfied: lxml in /home/pit/anaconda3/lib/python3.8/site-packages (from pandas-datareader) (4.6.1)
Requirement already satisfied: requests>=2.19.0 in /home/pit/anaconda3/lib/python3.8/site-packages (from pandas-datareader) (2.24.0)
Requirement already satisfied: pytz>=2017.2 in /home/pit/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas-datareader) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in /home/pit/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas-datareader) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/pit/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/pit/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /home/pit/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /home/pit/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/pit/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas-datareader) (1.25.11)
Requirement already satisfied: six>=1.5 in /home/pit/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0

In [46]:
from pandas_datareader import data, wb
import datetime
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

# *get the data from yahoo finance:
## pandas.pydata.org/pandas-docs/stable/remote_data.html

In [2]:
start = datetime.datetime(2006,1,1)
end = datetime.datetime(2020,1,1)

In [3]:
# Bank of America
BAC = data.DataReader('BAC', 'yahoo', start, end)
BAC

                 High        Low       Open      Close      Volume  Adj Close
Date
2006-01-03  47.180000  46.150002  46.919998  47.080002  16296700.0  34.106018
2006-01-04  47.240002  46.450001  47.000000  46.580002  17757900.0  33.743801
2006-01-05  46.830002  46.320000  46.580002  46.639999  14970700.0  33.787270
2006-01-06  46.910000  46.349998  46.799999  46.570000  12599800.0  33.736557
2006-01-09  46.970001  46.360001  46.720001  46.599998  15619400.0  33.758308
...               ...        ...        ...        ...         ...        ...
2019-12-24  35.279999  35.119999  35.189999  35.220001  13805400.0  33.814240
2019-12-26  35.560001  35.290001  35.320000  35.520000  26992100.0  34.102264
2019-12-27  35.720001  35.259998  35.700001  35.349998  28111300.0  33.939045
2019-12-30  35.650002  35.090000  35.570000  35.150002  30705100.0  33.747036
2019-12-31  35.259998  34.970001  35.029999  35.220001  29630100.0  33.814240

[3523 rows x 6 columns]

In [4]:
# CititiGroup
C = data.DataReader('C','yahoo',start,end)
C

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2006-01-03,493.799988,481.100006,490.000000,492.899994,1537600.0,368.265472
2006-01-04,491.000000,483.500000,488.600006,483.799988,1870960.0,361.466553
2006-01-05,487.799988,484.000000,484.399994,486.200012,1143160.0,363.259674
2006-01-06,489.000000,482.000000,488.799988,486.200012,1370210.0,363.259674
2006-01-09,487.399994,483.000000,486.000000,483.899994,1680740.0,361.541321
...,...,...,...,...,...,...
2019-12-24,78.940002,78.459999,78.699997,78.589996,4576200.0,73.303246
2019-12-26,79.839996,78.650002,78.750000,79.830002,11992800.0,74.459831
2019-12-27,80.180000,79.580002,80.000000,79.669998,10867900.0,74.310600
2019-12-30,80.419998,79.339996,80.150002,79.510002,10084900.0,74.161377
2019-12-31,79.940002,79.099998,79.320000,79.889999,8031200.0,74.515793

In [5]:
# JPMorgan Chase
JPM = data.DataReader('JPM','yahoo',start,end)
JPM

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2006-01-03,40.360001,39.299999,39.830002,40.189999,12838600.0,26.503405
2006-01-04,40.139999,39.419998,39.779999,39.619999,13491500.0,26.350430
2006-01-05,39.810001,39.500000,39.610001,39.740002,8109400.0,26.430239
2006-01-06,40.240002,39.549999,39.919998,40.020000,7966900.0,26.616461
2006-01-09,40.720001,39.880001,39.880001,40.669998,16575200.0,27.048758
...,...,...,...,...,...,...
2019-12-24,137.630005,137.059998,137.330002,137.580002,3324300.0,129.506683
2019-12-26,139.100006,137.779999,137.889999,139.039993,6770900.0,130.881012
2019-12-27,139.770004,138.669998,139.300003,139.139999,7868200.0,130.975128
2019-12-30,140.080002,138.470001,139.899994,138.630005,6963000.0,130.495071
2019-12-31,139.479996,138.289993,138.509995,139.399994,7201600.0,131.219879

In [6]:
# Morgan Stanley
MS = data.DataReader('MS','yahoo',start,end)
MS

                 High        Low       Open      Close     Volume  Adj Close
Date
2006-01-03  58.490002  56.740002  57.169998  58.310001  5377000.0  36.114281
2006-01-04  59.279999  58.349998  58.700001  58.349998  7977800.0  36.139050
2006-01-05  58.590000  58.020000  58.549999  58.509998  5778000.0  36.238132
2006-01-06  58.849998  58.049999  58.770000  58.570000  6889800.0  36.275295
2006-01-09  59.290001  58.619999  58.630001  59.189999  4144500.0  36.659290
...               ...        ...        ...        ...        ...        ...
2019-12-24  50.930000  50.570000  50.830002  50.689999  2087800.0  48.063522
2019-12-26  51.290001  50.860001  50.970001  51.110001  5517400.0  48.461773
2019-12-27  51.330002  50.930000  51.330002  51.090000  4116900.0  48.442799
2019-12-30  51.380001  50.919998  51.360001  50.959999  4532800.0  48.319530
2019-12-31  51.130001  50.740002  50.959999  51.119999  5131600.0  48.471249

[3523 rows x 6 columns]

In [7]:
# Wells Fargo
WFC = data.DataReader('WFC','yahoo',start,end)
WFC

                 High        Low       Open      Close      Volume  Adj Close
Date
2006-01-03  31.975000  31.195000  31.600000  31.900000  11016400.0  20.444870
2006-01-04  31.820000  31.365000  31.799999  31.530001  10870000.0  20.207731
2006-01-05  31.555000  31.309999  31.500000  31.495001  10158000.0  20.185314
2006-01-06  31.775000  31.385000  31.580000  31.680000   8403800.0  20.303864
2006-01-09  31.825001  31.555000  31.674999  31.674999   5619600.0  20.300667
...               ...        ...        ...        ...         ...        ...
2019-12-24  54.040001  53.740002  53.950001  53.820000   4635500.0  51.044312
2019-12-26  54.389999  53.950001  54.049999  54.150002  12517100.0  51.357296
2019-12-27  54.320000  53.869999  54.290001  53.919998   9892000.0  51.139156
2019-12-30  54.259998  53.500000  54.169998  53.599998  10900500.0  50.835659
2019-12-31  53.820000  53.459999  53.529999  53.799999  12566000.0  51.025345

[3523 rows x 6 columns]

In [8]:
# Goldman Sachs
GS = data.DataReader('GS','yahoo',start,end)
GS

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2006-01-03,129.440002,124.230003,126.699997,128.869995,6188700.0,104.412064
2006-01-04,128.910004,126.379997,127.349998,127.089996,4861600.0,102.969894
2006-01-05,127.320000,125.610001,126.000000,127.040001,3717400.0,102.929405
2006-01-06,129.250000,127.290001,127.290001,128.839996,4319600.0,104.387764
2006-01-09,130.619995,128.000000,128.500000,130.389999,4723500.0,105.643593
...,...,...,...,...,...,...
2019-12-24,229.949997,228.369995,228.979996,229.910004,467700.0,221.794113
2019-12-26,232.199997,229.990005,230.259995,231.210007,1704000.0,223.048218
2019-12-27,232.210007,230.470001,231.809998,230.660004,1343900.0,222.517624
2019-12-30,231.679993,229.500000,231.679993,229.800003,1494500.0,221.687988
2019-12-31,229.970001,228.669998,229.710007,229.929993,1447200.0,221.813400

In [14]:
# sanity check ---> all the sizes must match
assert (GS.shape == (3523,6)) & (WFC.shape == (3523,6)) & (MS.shape == (3523,6)) & (BAC.shape == (3523,6)) & (JPM.shape == (3523,6)) & (C.shape == (3523,6))

In [17]:
thickers = ['BAC', 'C', 'GS', 'JPM', 'MS', 'WFC']

In [20]:
# create a bank_stocks dataframe 
bank_stocks = pd.concat([BAC, C, GS, JPM, MS, WFC], axis = 1, keys = thickers)
bank_stocks

                  BAC                                                          \
                 High        Low       Open      Close      Volume  Adj Close
Date
2006-01-03  47.180000  46.150002  46.919998  47.080002  16296700.0  34.106018
2006-01-04  47.240002  46.450001  47.000000  46.580002  17757900.0  33.743801
2006-01-05  46.830002  46.320000  46.580002  46.639999  14970700.0  33.787270
2006-01-06  46.910000  46.349998  46.799999  46.570000  12599800.0  33.736557
2006-01-09  46.970001  46.360001  46.720001  46.599998  15619400.0  33.758308
...               ...        ...        ...        ...         ...        ...
2019-12-24  35.279999  35.119999  35.189999  35.220001  13805400.0  33.814240
2019-12-26  35.560001  35.290001  35.320000  35.520000  26992100.0  34.102264
2019-12-27  35.720001  35.259998  35.700001  35.349998  28111300.0  33.939045
2019-12-30  35.650002  35.090000  35.570000  35.150002  30705100.0  33.747036
2019-12-31  35.259998  34.970001  35.029999  35.220001  29630100.0  33.814240

                     C                                      ...         MS  \
                  High         Low        Open       Close  ...       Open
Date                                                        ...
2006-01-03  493.799988  481.100006  490.000000  492.899994  ...  57.169998
2006-01-04  491.000000  483.500000  488.600006  483.799988  ...  58.700001
2006-01-05  487.799988  484.000000  484.399994  486.200012  ...  58.549999
2006-01-06  489.000000  482.000000  488.799988  486.200012  ...  58.770000
2006-01-09  487.399994  483.000000  486.000000  483.899994  ...  58.630001
...                ...         ...         ...         ...  ...        ...
2019-12-24   78.940002   78.459999   78.699997   78.589996  ...  50.830002
2019-12-26   79.839996   78.650002   78.750000   79.830002  ...  50.970001
2019-12-27   80.180000   79.580002   80.000000   79.669998  ...  51.330002
2019-12-30   80.419998   79.339996   80.150002   79.510002  ...  51.360001
2019-12-31   79.940002   79.099998   79.320000   79.889999  ...  50.959999

                                                   WFC                        \
                Close     Volume  Adj Close       High        Low       Open
Date
2006-01-03  58.310001  5377000.0  36.114281  31.975000  31.195000  31.600000
2006-01-04  58.349998  7977800.0  36.139050  31.820000  31.365000  31.799999
2006-01-05  58.509998  5778000.0  36.238132  31.555000  31.309999  31.500000
2006-01-06  58.570000  6889800.0  36.275295  31.775000  31.385000  31.580000
2006-01-09  59.189999  4144500.0  36.659290  31.825001  31.555000  31.674999
...               ...        ...        ...        ...        ...        ...
2019-12-24  50.689999  2087800.0  48.063522  54.040001  53.740002  53.950001
2019-12-26  51.110001  5517400.0  48.461773  54.389999  53.950001  54.049999
2019-12-27  51.090000  4116900.0  48.442799  54.320000  53.869999  54.290001
2019-12-30  50.959999  4532800.0  48.319530  54.259998  53.500000  54.169998
2019-12-31  51.119999  5131600.0  48.471249  53.820000  53.459999  53.529999


                Close      Volume  Adj Close
Date
2006-01-03  31.900000  11016400.0  20.444870
2006-01-04  31.530001  10870000.0  20.207731
2006-01-05  31.495001  10158000.0  20.185314
2006-01-06  31.680000   8403800.0  20.303864
2006-01-09  31.674999   5619600.0  20.300667
...               ...         ...        ...
2019-12-24  53.820000   4635500.0  51.044312
2019-12-26  54.150002  12517100.0  51.357296
2019-12-27  53.919998   9892000.0  51.139156
2019-12-30  53.599998  10900500.0  50.835659
2019-12-31  53.799999  12566000.0  51.025345

[3523 rows x 36 columns]

In [23]:
assert bank_stocks.shape==(3523,36)

In [25]:
# set the column name level
bank_stocks.columns.names = ['Bank Thicker', 'Stock Info']

In [26]:
bank_stocks

Bank Thicker        BAC                                               \
Stock Info         High        Low       Open      Close      Volume
Date
2006-01-03    47.180000  46.150002  46.919998  47.080002  16296700.0
2006-01-04    47.240002  46.450001  47.000000  46.580002  17757900.0
2006-01-05    46.830002  46.320000  46.580002  46.639999  14970700.0
2006-01-06    46.910000  46.349998  46.799999  46.570000  12599800.0
2006-01-09    46.970001  46.360001  46.720001  46.599998  15619400.0
...                 ...        ...        ...        ...         ...
2019-12-24    35.279999  35.119999  35.189999  35.220001  13805400.0
2019-12-26    35.560001  35.290001  35.320000  35.520000  26992100.0
2019-12-27    35.720001  35.259998  35.700001  35.349998  28111300.0
2019-12-30    35.650002  35.090000  35.570000  35.150002  30705100.0
2019-12-31    35.259998  34.970001  35.029999  35.220001  29630100.0

Bank Thicker                      C                                      ...  \
Stock Info    Adj Close        High         Low        Open       Close  ...
Date                                                                     ...
2006-01-03    34.106018  493.799988  481.100006  490.000000  492.899994  ...
2006-01-04    33.743801  491.000000  483.500000  488.600006  483.799988  ...
2006-01-05    33.787270  487.799988  484.000000  484.399994  486.200012  ...
2006-01-06    33.736557  489.000000  482.000000  488.799988  486.200012  ...
2006-01-09    33.758308  487.399994  483.000000  486.000000  483.899994  ...
...                 ...         ...         ...         ...         ...  ...
2019-12-24    33.814240   78.940002   78.459999   78.699997   78.589996  ...
2019-12-26    34.102264   79.839996   78.650002   78.750000   79.830002  ...
2019-12-27    33.939045   80.180000   79.580002   80.000000   79.669998  ...
2019-12-30    33.747036   80.419998   79.339996   80.150002   79.510002  ...
2019-12-31    33.814240   79.940002   79.099998   79.320000   79.889999  ...

Bank Thicker         MS                                         WFC  \
Stock Info         Open      Close     Volume  Adj Close       High
Date
2006-01-03    57.169998  58.310001  5377000.0  36.114281  31.975000
2006-01-04    58.700001  58.349998  7977800.0  36.139050  31.820000
2006-01-05    58.549999  58.509998  5778000.0  36.238132  31.555000
2006-01-06    58.770000  58.570000  6889800.0  36.275295  31.775000
2006-01-09    58.630001  59.189999  4144500.0  36.659290  31.825001
...                 ...        ...        ...        ...        ...
2019-12-24    50.830002  50.689999  2087800.0  48.063522  54.040001
2019-12-26    50.970001  51.110001  5517400.0  48.461773  54.389999
2019-12-27    51.330002  51.090000  4116900.0  48.442799  54.320000
2019-12-30    51.360001  50.959999  4532800.0  48.319530  54.259998
2019-12-31    50.959999  51.119999  5131600.0  48.471249  53.820000

Bank Thicker
Stock Info          Low       Open      Close      Volume  Adj Close
Date
2006-01-03    31.195000  31.600000  31.900000  11016400.0  20.444870
2006-01-04    31.365000  31.799999  31.530001  10870000.0  20.207731
2006-01-05    31.309999  31.500000  31.495001  10158000.0  20.185314
2006-01-06    31.385000  31.580000  31.680000   8403800.0  20.303864
2006-01-09    31.555000  31.674999  31.674999   5619600.0  20.300667
...                 ...        ...        ...         ...        ...
2019-12-24    53.740002  53.950001  53.820000   4635500.0  51.044312
2019-12-26    53.950001  54.049999  54.150002  12517100.0  51.357296
2019-12-27    53.869999  54.290001  53.919998   9892000.0  51.139156
2019-12-30    53.500000  54.169998  53.599998  10900500.0  50.835659
2019-12-31    53.459999  53.529999  53.799999  12566000.0  51.025345

[3523 rows x 36 columns]

## max close price for each bank's stock throughout the time period

In [42]:
max_close = list(map(lambda i: (i,bank_stocks[i]['Close'].max()), thickers))
max_close

[('BAC', 54.900001525878906),
 ('C', 564.0999755859375),
 ('GS', 273.3800048828125),
 ('JPM', 139.39999389648438),
 ('MS', 89.30000305175781),
 ('WFC', 65.93000030517578)]

In [44]:
# better solution
bank_stocks.xs(key='Close', axis=1, level='Stock Info').max()

Bank Thicker
BAC     54.900002
C      564.099976
GS     273.380005
JPM    139.399994
MS      89.300003
WFC     65.930000
dtype: float64

## create a dataframe with all the returns for each stock

In [45]:
returns = pd.DataFrame()

for i in thickers:
    returns[i+' Return'] = bank_stocks[i]['Close'].pct_change()

returns

            BAC Return  C Return  GS Return  JPM Return  MS Return  WFC Return
Date
2006-01-03         NaN       NaN        NaN         NaN        NaN         NaN
2006-01-04   -0.010620 -0.018462  -0.013812   -0.014183   0.000686   -0.011599
2006-01-05    0.001288  0.004961  -0.000393    0.003029   0.002742   -0.001110
2006-01-06   -0.001501  0.000000   0.014169    0.007046   0.001025    0.005874
2006-01-09    0.000644 -0.004731   0.012030    0.016242   0.010586   -0.000158
...                ...       ...        ...         ...        ...         ...
2019-12-24    0.001422 -0.002159   0.003579    0.002770  -0.000592    0.000186
2019-12-26    0.008518  0.015778   0.005654    0.010612   0.008286    0.006132
2019-12-27   -0.004786 -0.002004  -0.002379    0.000719  -0.000391   -0.004248
2019-12-30   -0.005658 -0.002008  -0.003728   -0.003665  -0.002545   -0.005935
2019-12-31    0.001991  0.004779   0.000566    0.005554   0.003140    0.003731

[3523 rows x 6 columns]